# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
.env
venv/

# --- Data Mentah (Abaikan agar Repo Ringan) ---
stock-analyzer/data/idx/
stock-analyzer/data/raw/
*.csv
*.log

# --- EXCEPTION (Wajib Disimpan) ---
# Menggunakan path 'output' sesuai struktur folder asli Anda
!stock-analyzer/output/signals.json
!stock-analyzer/output/backtest_results.csv